.btn{
    margin-top: 50vh;
    margin-left: 50vw;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 5%;
    margin-left: 43%;
    text-align: center;
    font-family: arial;
    font-size: 25px;
  }